.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home, .signup, .signin {
  background: #000;
  color: #fff;
  position: absolute;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-style: normal;
  width: 100%;
}

.home-intro, .signup-wrap, .signin-wrap {
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
}

.home-intro img, .signup-wrap img, .signin-wrap img {
  width: 100%;
}

.home-title, .signup-title, .signin-title {
  position: absolute;
  top: 12%;
  left: 15%;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  
  color: #F91111;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.home-message .message1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  padding: 5%;
  text-align: center;

  /* White */

  color: #FFFFFF;
}

.home-message .message2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  padding: 3%;
  text-align: center;

  /* White */

  color: #FFFFFF;
}

.home-message .message3 {  
  font-weight: 400;
  font-size: 23px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;

  /* White */

  color: #FFFFFF;
}

.auth {
  position: absolute;
  top: 15%;
  left: auto;
  right: 15%;
  width: 20%;
}

.auth button {
  background: #D6000F;
  border: none;
  padding: 7px 5%;
  margin: 0px 5%;
  color: #fff;
  width: 30%;
}

.auth button a {
  text-decoration: none;
  color: #fff;
}

.signup-form, .signin-form, .movie-form {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
  border-radius: 12px;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 60%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
}

.signup-form h3 :first-child, .signin-form h3 :first-child {
  color: #D6000F; 
  display: inline;
}

.signup-form p {
  font-size: 2vh;
}

.signup-form input, .signin-form input{
  font-size: 2vh;
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
}

.signup-form .signup-btn, .signin-form .signin-btn {
  background: #F00;
  padding: 10px;
  text-align: center;
}

.or {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 1px;
  margin-top: 5%;
}

.or hr {
  width: 45%;
}

.kep-login-facebook {
  width: 70%;
  margin: 10% 15%;
  font-size: 2vh !important;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
  padding: 2% !important;
}

.welcome {
  display: flex;
  position: absolute;
  top: 15%;
  left: auto;
  right: 15%;
}

.welcome div {
  padding: 5px;
  margin: 0 10px;
}

.welcome img {
  border-radius: 50%;
  width: 10%;
}

.signin-form p {
  text-align: center;
}

.signin-form p a {
  color:#D6000F
}

.signin-form span, .signup-form span {
  font-size: 1.5vh;
  color:#D6000F
}

.welcome span {
  color:#D6000F;
  cursor: pointer;
}

.add-movie-btn {
  position: absolute;
  top: 20%;
  left: 20%;
  background: red;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
}